@font-face {
    font-family: "OldEnglish";
    src: url("/fonts/old-english-text-mt.ttf") format("truetype");
    font-display: swap;
}

.home-title {
    font-family: "OldEnglish", serif !important;
}
